/node_modules
/public/hot
/public/storage
/public/js
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
env
composer.lock~86dec7388ac4746313908ab8a19499de48f065a9
