.cookieConsentContainer {
    z-index: 999;
    width: 350px;
    min-height: 20px;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background: #ffffff;
    overflow: hidden;
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: none;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 3%), 0 2px 15px 0 rgb(0 0 0 / 3%);
    border-radius: 10px;
}

.cookieConsentContainer .cookieTitle a {
    color: #bfbfbf;
    font-size: 16px;
    line-height: 20px;
    display: block;
}

.cookieConsentContainer .cookieDesc p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    display: block;
    margin-top: 10px;
    color: #bfbfbf;
}

.cookieConsentContainer .cookieDesc a {
    text-decoration: underline;
}

.cookieConsentContainer .cookieButton a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 17px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 9px 44px;
    text-align: center;
    transition: background 0.3s;
    border: 1px #ff516b solid;
    border-color: #ff516b;
    color: #ff516b;
    transition: background 0.3s;
}

.cookieConsentContainer .cookieButton a:hover {
    cursor: pointer;
    background: #ff516b;
    background: linear-gradient( 135deg, #ff516b 0, #826cfd 100%);
    color: #fff;
}

@media (max-width: 980px) {
    .cookieConsentContainer {
        bottom: 0px !important;
        left: 0px !important;
        width: 100% !important;
    }
}